.container {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
  background-color: rosybrown;
  border-radius: 10px;
  .line1 {
    display: flex;
    justify-content: space-between;
  }
}